h1{
    margin-left: 30px;
}
h2{
    margin: 30px;
}
p{
    margin-left: 20px;
}
form{
    margin: 20px;
}
input{
    margin-bottom: 10px;
    height: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    margin: 30px;
}
th{
    background-color: lightgrey;
    font-size: 16px;
}
.sortableHeader{
    color: darkslategrey;
}
th, td{
    padding: 5px;
}
textarea{
    margin-bottom: 20px;
}
.textspan{
    display: inline-block;
    position: relative;
    top: -30px;
}
#submitButton{
    display: block;
    width: 150px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    background-color: lightgrey;
    margin-left: 40px;
}
.error{
    color: red;
}
label{
    display: inline-block;
    width: 100px;
}
a{
    text-decoration: none;
    
}
th a:after{
    content: " \25B4\25BE";
}
td{
    padding: 5px;
}
.pager a.curPage{
    font-weight: bold;
    font-size: 20px;
}
.pager{
    font-size: 16px;
    color: black;
    margin-left: 50px;
}
.pager a:visited{
    color: black;
}


